{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}

<h3>{{'title_leave_comment'|trans({}, 'SonataNewsBundle') }}</h3>

<form action="{{ url('sonata_news_add_comment', {'id': post_id}) }}" method="POST" class="form-horizontal">
    <div class="control-group">
        {{ form_label(form.name, label|default(null), { 'attr': { 'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.email, label|default(null), { 'attr': { 'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.url, label|default(null), { 'attr': { 'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.url) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.message, label|default(null), { 'attr': { 'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.message) }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            {{ form_rest(form) }}
            <input type="submit" value="{{'btn_add_comment'|trans({}, 'SonataNewsBundle') }}" class="btn"/>
        </div>
    </div>
</form>
